<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsk.task.mapper.HostMapper">
  <select id="selectByPhone" resultType="com.hsk.task.bean.Host" parameterType="String">
  	select * from gas_host where phone = #{phone} 
  </select>
</mapper>